<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../mapred-config/mapred-config.html">

<dom-module id="create-assignment">
    <template>
        <style>
            :host {
                display: block;
                padding: 16px;
            }
        </style>

        <h1>Create Assignment</h1>
        <mapred-config id="primary" full-config="{{primaryConfig}}"></mapred-config>
        <mapred-config id="secondary" primary-config="{{primaryConfig}}"></mapred-config>
    </template>
    <script src="create-assignment.js"></script>
</dom-module>