<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../busy-overlay/busy-overlay.html">
<link rel="import" href="../../common-styles/common-styles.html">

<dom-module id="hdfs-browser">
    <template>
        <style include="common-styles"></style>

        <busy-overlay is-busy="[[isBusy]]" with-backdrop no-cancel-on-esc-key no-cancel-on-outside-click></busy-overlay>
        
        <h1>HDFS Browser</h1>
        <div class="row" style="background-color: white;">
            <div class="cell">
                <span>Current Location: {{location}}</span>
                <template is="dom-if" if="{{isAdmin}}">
                    <paper-input id="mkdir" label="New Folder (Hit Enter to create)" on-keyup="mkDir" prevent-invalid-input allowed-pattern="^[^*&%\\/]+$"></paper-input>
                    <div>
                        <input id="file" type="file" on-change="fileChange">
                        <paper-button on-click="sendFile" raised disabled="{{!hasFile}}">Send File</paper-button>
                    </div>
                </template>
            </div>
            <paper-icon-button class="cell" icon="refresh" on-click="refresh" style="float: right;"></paper-icon-button>
            <paper-icon-button class="cell" icon="arrow-upward" on-click="goUp" style="float: right;"></paper-icon-button>
        </div>
        <vaadin-grid items="[[hdfsChildren]]">
            <vaadin-grid-column resizable flex-grow="1">
                <template class="header">Actions</template>
                <template>
                    <template is="dom-if" if="{{isAdmin}}">
                        <paper-icon-button class="cell" icon="delete-forever" on-click="remove" style="float: right;"></paper-icon-button>
                    </template>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable flex-grow="2">
                <template class="header">Permissions</template>
                <template>[[item.permissions]]</template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable flex-grow="2">
                <template class="header">Owner</template>
                <template>[[item.owner]]</template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable flex-grow="2">
                <template class="header">Group</template>
                <template>[[item.group]]</template>
            </vaadin-grid-column>
            <vaadin-grid-column resizable flex-grow="8">
                <template class="header">Path</template>
                <template>
                    <span on-click="handleURLSelect" style="text-decoration: underline;">
                        [[item.path]]
                    </span>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
        <iron-ajax id="requestHDFS" url="/hdfs-ls"></iron-ajax>
        <iron-ajax id="requestMkDir" url="/hdfs-mkdir" method="POST"></iron-ajax>
        <iron-ajax id="requestPutFile" url="/hdfs-put" method="POST"></iron-ajax>
        <iron-ajax id="requestRm" url="/hdfs-rm" method="DELETE"></iron-ajax>
    </template>
    <script src="hdfs-browser.js"></script>
</dom-module>