<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../common-styles/common-styles.html">

<dom-module id="user-settings">
    <template>
        <style include="common-styles"></style>

        <h1>User Settings</h1>

        <div>
            <!-- <div>
                <h2>General Settings</h2>
            </div> -->
            <div id="settingsContainer">
                <h2>Admin Settings</h2>
                <paper-toggle-button id="isAdminToggle" checked="[[isAdmin]]">Is Administrator</paper-toggle-button>
                <paper-input id="adminPasswordInput" label="EdHD Admin Password" type="password"></paper-input>
                <paper-button on-click="updateAdmin" raised>Update Admin Settings</paper-button>
            </div>
            <paper-toast id="errorToast" class="errorToast" always-on-top></paper-toast>
        </div>

        <iron-ajax id="updateAdmin" url="/admin/update" method="POST" content-type="application/json"></iron-ajax>
    </template>
    <script src="user-settings.js"></script>
</dom-module>