<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">


<dom-module id="user-settings">
    <template>
        <style>
            :host {
                display: block;
                padding: 16px;
            }

            #errorToast {
                --paper-toast-background-color: red;
                --paper-toast-color: white;
            }
        </style>

        <h1>User Settings</h1>

        <div>
            <!-- <div>
                <h2>General Settings</h2>
            </div> -->
            <div id="settingsContainer">
                <h2>Admin Settings</h2>
                <paper-toggle-button id="isAdminToggle" checked="[[isAdmin]]">Is Administrator</paper-toggle-button>
                <paper-input id="adminPasswordInput" label="EdHD Admin Password" type="password"></paper-input>
                <paper-button on-click="updateAdmin" raised>Update Admin Settings</paper-button>
            </div>
            <paper-toast id="errorToast" always-on-top></paper-toast>
        </div>

        <iron-ajax id="updateAdmin" url="/update-admin" method="POST" content-type="application/json"></iron-ajax>
    </template>
    <script>
        class UserSettings extends Polymer.Element {
            static get is() { return 'user-settings'; }
            static get properties() {
                return {
                    isAdmin: {
                        type: Boolean,
                        value: false
                    }
                }
            }
            updateAdmin() {
                let adminSettings = {
                    isAdmin: this.$.isAdminToggle.checked,
                    password: this.$.adminPasswordInput.value
                };
                this.$.updateAdmin.body = adminSettings;
                // This shouldn't be necessary, but there seems to be a bug in iron-ajax related to post
                this.$.updateAdmin.headers = {
                    'X-XSRF-TOKEN': document.cookie.match('XSRF-TOKEN.*')[0].split('=')[1]
                }
                let request = this.$.updateAdmin.generateRequest();
                request.completes.then(function (event) {
                    location.reload();
                }, function (rejected) {
                    this.$.errorToast.fitInto = this.$.settingsContainer;
                    this.$.errorToast.show({ text: 'Could not update admin settings.' });
                }.bind(this));
            }
        }
        customElements.define(UserSettings.is, UserSettings);
    </script>
</dom-module>